body {
  background: rgb(20,20,20);
  background: -moz-linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(110,110,110,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(110,110,110,1) 100%);
  background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(110,110,110,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#6e6e6e",GradientType=1);
}

H1 {
  color: whitesmoke;
  font-family: 'Racing Sans One', cursive;
  font-size: 5rem;
}

H2, H3, H4, H5, H6 {
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

p {
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
}

.container {
  position: relative;
  background-image: url("./img/dark-panels.jpg");
  background-repeat: repeat-y repeat-x;
  min-height: 100vh;
}

.menu {
  background: rgb(70, 70, 70);
  border-radius: 10px;
  border: #aaaaaa solid 1px;
  margin-top: -200px;
  margin-left: 20px;
  min-height: 80vh;
}

.responsive {
  width: 100%;
  height: auto;
}

.portrait{
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: #aaaaaa solid 1px;
  box-shadow: 0px 3px 2px 1px;
}

.title {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.social {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5%;
  text-align: right;
}

.blog-panel {
  margin-right: 10px;
  min-height: 100vh;
}

.post {
  background: rgb(70, 70, 70);
  padding: 10px;
  margin: 5%;
  border: #aaaaaa solid 1px;
  border-radius: 10px;
}
