body {
  background-image: url("./img/asanoha-400px.png");
  background-repeat: repeat-y repeat-x;
}

H1, H4 {color: blueviolet;}

.container {background-color: lightblue}

.menu {background-color: coral;}