/* Set this up from scratch with bootstrap, which is why I may have a few small
CSS errors that likely would have been worked out in a professionally done style
sheet. Will continue to tweak at this beyond the homework. */

/* I got this gradient from: https://cssgradient.io/ */
body {
  background: rgb(20,0,0);
  background: -moz-linear-gradient(180deg, rgba(20,0,0,1) 0%, rgba(92,0,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(20,0,0,1) 0%, rgba(92,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(20,0,0,1) 0%, rgba(92,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140000",endColorstr="#5c0000",GradientType=1);
}

/* Used rem instead of em since I do not define font-size in the
parent element and I thought it would be more predictable */
H1 {
  color: whitesmoke;
  font-family: 'Racing Sans One', cursive;
  font-size: 5rem;
}

/* imported the web font from google via a link in the document head 
instead of downloading the font. The 700 weight is specifically for headlines
and the regular paragraph font default is 300 light so I did not specify. */
H2, H3, H4, H5, H6 {
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

p {
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

/* Trying to get this thing to cover the container edge-to-edge.
Need to dig deeper later. */
header {
  width: 100%;
}

/* This may not be needed */
.row {
  position: relative;
}

.container {
  position: relative;
  background-image: url("./img/dark-panels.jpg");
  background-repeat: repeat-y repeat-x;
  min-height: 100vh;
}

.menu {
  background: rgb(70, 70, 70);
  border-radius: 10px;
  border: #aaaaaa solid 1px;
  margin-top: -200px;
  margin-left: 20px;
  min-height: 80vh;
}

/* For dynamically resizing pictures */
.responsive {
  width: 100%;
  height: auto;
}

/* CSS quirk where the drop shadow is covering the menu border for
a couple pixels. Not breaking just irritating. Most people will
never notice it. */
.portrait{
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: #aaaaaa solid 1px;
  box-shadow: 0px 3px 2px 1px;
}

.title {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.social {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5%;
  text-align: right;
}

.blog-panel {
  margin-right: 10px;
  min-height: 100vh;
}

.post {
  background: rgb(70, 70, 70);
  padding: 10px;
  margin: 5%;
  border: #aaaaaa solid 1px;
  border-radius: 10px;
}