<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Racing+Sans+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <title>The Burning Road Blog</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <header class="col-sm-12">
        <img src="img/vineyardoverpass.jpg" alt="Vineyard Street overpass at night" class="responsive">
        <div class="social">
          <a href="https://www.linkedin.com/in/wendell-yamada/" alt="LinkedIn Profile">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://github.com/hyperrex" alt="Github Profile">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://www.instagram.com/hyperrex/" alt="Instagram Profile">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="title">
          <h1>
            Burning Road
          </h1>
        </div>
      </header>
    </div>
    <div class="row">
      <div class="col">
        <div class="menu">
          <img src="./img/jedi.jpg" alt="Jedi Wendell" class="portrait">
          <div class="name">
            <h2>Wendell Yamada</h2>
          </div>
          <nav class="navigation flex-column">
            <a href="index.html">
              <span class="nav-link active">
                <i class="fa-solid fa-blog"></i>&nbsp; Blog
              </span>
            </a>
            <a href="projects.html">
              <span class="nav-link">
                <i class="fa-solid fa-laptop-code"></i>&nbsp; Projects
              </span>
            </a>
            <a href="about.html">
              <span class="nav-link">
                <i class="fa-regular fa-circle-user"></i>&nbsp; About
              </span>
            </a>
          </nav>
        </div>
      </div>s